#loading-screen {
  position: relative;
  width: 375px;
  height: 812px;
  background: #242a32;
}

#loading-screen img {
  position: absolute;
  width: 189px;
  height: 189px;
  left: 93px;
  top: 311px;
  background: url(popcorn.png);
}

/* Group 1 */
.group1 {
  position: absolute;
  width: 327px;
  height: 42px;
  left: 24px;
  top: 93px;
}

/* Rectangle 1 */
.rectangle1 {
  position: absolute;
  width: 327px;
  height: 42px;
  left: 24px;
  top: 93px;
  background: #3A3F47;
  border-radius: 16px;
}

/* Search */
.search {
  position: absolute;
  width: 284.52px;
  height: 21px;
  left: 48.7px;
  top: 104px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #67686D;
}

/* Search icon */
.search-icon {
  position: absolute;
  width: 15.81px;
  height: 16px;
  left: 336.18px;
  top: 106px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Ellipse_739 */
.ellipse {
  position: absolute;
  left: 89.65%;
  right: 6.31%;
  top: 13.05%;
  bottom: 85.1%;
  border: 2px solid #67686D;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

/* Line_181 */
.line {
  position: absolute;
  left: 86.22%;
  right: 12.98%;
  top: 14.66%;
  bottom: 84.98%;
  border: 2px solid #67686D;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
